.dadosDolar,
.dadosIene {
    margin: 3vh auto;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 24px;
    width: 60%;
    color: var(--cinza);
}

.grafico {
    width: 30vw;
}

.grafico__titulo {
    display: flex;
    align-items: center;
}

.grafico__titulo span {
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
}

.grafico__ilustracao-dolar {
    background-image: url('../img/utilidades/cifrao.png');
}

.grafico__ilustracao-iene {
    background-image: url('../img/utilidades/iene.png');
}

.investimentos__lista li {
    margin: 1em 0;
}